body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
p {
    margin: 10px 0;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
li {
    margin: 5px 0;
}
.highlight {
    font-weight: bold;
}
.language-skills p {
    display: inline;
    margin-right: 15px;
}

.flag {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}